header {
  background-image: url('images/startpagina.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  height: 400px;
  padding: 50px;
  margin: 50px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.balk {
  border-color:#abe17d80;
  border-style: solid;
  border: 10px;
  left: 0px;
  top: 0px;
}
